<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<div layout:fragment="content">
    <h1 class="text-center mt-3">Department</h1>
    <hr/>
    <div class="row mt-1">
        <div class="col-12 text-right">
            <a class="btn btn-primary" href="/department/create">+ Add new</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <table class="table table-striped table-dark">
                <thead>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="department : ${departmentList}">
                    <td th:text="${department.id}"></td>
                    <td th:text="${department.name}"></td>
                    <td>
                    <td>
                        <a class="btn btn-sm btn-primary"
                           th:href="@{'/department/edit/' + ${department.id}}">Edit</a>
                        &nbsp;&nbsp;&nbsp;
                    </td>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>